.all-products{
    display: grid;
    gap: 82px;
    grid-template-columns: 4fr 1fr;
}

.order-container{
    margin-left: 5px;
    background-color: rgba(255, 153, 0, 0.3);
    height: 944px;
    position: sticky;
    top: 0;
}