.nav{
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.nav-item a{
    text-decoration: none;
    font-family:'lato';
    font-size: 17px;
    margin-right: 36px;
    color:  #FFFFFF; 
}

.nav-item a:hover{
    color: orange;
}